
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">
  
  <link rel="shortcut icon" href="images/favicon.png">

</head>
<router-outlet></router-outlet>

<body>
  <div class="demo-layout">
    <div class="row">
      <div class="sidebar col s3">
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
          <header class="demo-drawer-header">
              <i class="large material-icons">account_circle</i>
            <div class="demo-avatar-dropdown">
              <span>Gabriela@estudante.com<i class="material-icons right">more_vert</i></span>                
            </div>
          </header>
          <div class="collection demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="collection-item mdl-navigation__link" href="./login"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Lixo</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Bate-Papo</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Dowlonds</a>
            <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
             <a class="collection-item mdl-navigation__link" href="./paginas/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Amigos</a>
            <div class="mdl-layout-spacer"></div>
            <a class="collection-item mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
         </div>
       </div>
      </div>
    </div>
  </div>
</body>
